@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="margin-bottom: 40px" class="display-4">Welcome to FSEGA</h1>
    <img src="https://realitateadecluj.net/wp-content/uploads/2019/03/fsega-cluj.jpg" alt="" />
</div>
